:root, [data-bs-theme=light] {
  --bs-body-font-family: Inter, sans-serif;
}

.p-4 {
  padding: 1.5rem!important;
}

.py-4 {
  padding-top: 1.5rem!important;
  padding-bottom: 1.5rem!important;
}

.py-5 {
  padding-top: 3rem!important;
  padding-bottom: 3rem!important;
}

.ps-3 {
  padding-left: 1rem!important;
}

@media (min-width:992px) {
  .p-lg-5 {
    padding: 3rem!important;
  }
}

@media (min-width:1200px) {
  .py-xl-5 {
    padding-top: 3rem!important;
    padding-bottom: 3rem!important;
  }
}

@media (min-width: 1200px) {
  .py-xl-6 {
    padding-top: 4.5rem !important;
    padding-bottom: 4.5rem !important;
  }
}

